body {
  font-size: 16px;
  color: #fff;
  background-color: #1a3f59;
  font-family: 'Oxygen', sans-serif;
}

#logo-img {
  background: url('../images/fmup_logo_border.png') no-repeat;	
  width: 50px;
  height: 75px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Roboto', sans-serif;
  color: #1a3f59;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:link, a:visited, a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p { 
  color: #000;
  font-size: 0.8em;
  margin-top: 10px;
}

.navbar-brand p span { 
  vertical-align: middle;
}

.nav-item a:hover {
  font-weight: bold;
  background-color: #6894C3;
}


/* banner */
  

.banner {
  padding: 0;
  margin: 0px 0px 0px 0px;
/*  border: 2px solid #fff;
*/}
